<div class="container">
  <div class="item container" *ngIf="!authenticated">
    <div class="item">
      <input type="text" [(ngModel)]="tenant" placeholder="Enter tenant here"/>
    </div>
    <div class="item">
      <input type="text" [(ngModel)]="clientId" placeholder="Enter client id here" />
    </div>
    <div class="item">
      <button (click)="login($event)">Login</button>
    </div>
  </div>
  <div class="item container" *ngIf="authenticated">
    <div class="item">
      <input type="text" [value]="token" />
    </div>
    <div class="item">
      <button ngxClipboard [cbContent]="token" [container]="container">Copy to clipboard</button>
    </div>
    <div class="item">
      <button *ngIf="authenticated" (click)="logout($event)">Logout</button>
    </div>
  </div>
</div>
